---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Geography
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"id":"pZA4eNKBz20","created_at":"2017-09-09T12:50:28-04:00","updated_at":"2018-05-18T13:25:49-04:00","width":6000,"height":4000,"color":"#333931","description":null,"urls":{"raw":"https://images.unsplash.com/photo-1504975692386-cfacf81e1022?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=55563b61a818f536c149c1c88401bcfd","full":"https://images.unsplash.com/photo-1504975692386-cfacf81e1022?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=4a37e64c35e75b04f49b54e7ff0c026a","regular":"https://images.unsplash.com/photo-1504975692386-cfacf81e1022?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=672c8b75a26a7e9bff23f89b72fff75b","small":"https://images.unsplash.com/photo-1504975692386-cfacf81e1022?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=4a56f81f43d4594abc4bd46d8b950306","thumb":"https://images.unsplash.com/photo-1504975692386-cfacf81e1022?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=08267ca4c4e03a94c02018dd3d0decab"},"links":{"self":"https://api.unsplash.com/photos/pZA4eNKBz20","html":"https://unsplash.com/photos/pZA4eNKBz20","download":"https://unsplash.com/photos/pZA4eNKBz20/download","download_location":"https://api.unsplash.com/photos/pZA4eNKBz20/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":41,"liked_by_user":false,"current_user_collections":[],"slug":null,"user":{"id":"o_hGQ4hTR0Y","updated_at":"2018-11-04T02:33:15-05:00","username":"epicantus","name":"Daria
        Nepriakhina","first_name":"Daria","last_name":"Nepriakhina","twitter_username":"epicantus","portfolio_url":"http://solutioncanvas.com","bio":"Helping
        entrepreneurs with Problem-Solution fit canvas http://solutioncanvas.com //
        https://www.instagram.com/daria_epicantus/ // Lean UI & UX at http://ByDaria.com,
        innovation @ http://ideahackers.nl & http://bydaria.com","location":"Amsterdam","links":{"self":"https://api.unsplash.com/users/epicantus","html":"https://unsplash.com/@epicantus","photos":"https://api.unsplash.com/users/epicantus/photos","likes":"https://api.unsplash.com/users/epicantus/likes","portfolio":"https://api.unsplash.com/users/epicantus/portfolio","following":"https://api.unsplash.com/users/epicantus/following","followers":"https://api.unsplash.com/users/epicantus/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1522594309426-90d7da0b2b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=2b2bcc2a42f0a8fe3ac930114903273f","medium":"https://images.unsplash.com/profile-1522594309426-90d7da0b2b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=674bf49255ad7edf56376bcd8246170f","large":"https://images.unsplash.com/profile-1522594309426-90d7da0b2b40?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=183e23c6323b2cfd8d4e2cc91f46c9f1"},"instagram_username":"epicantus","total_collections":89,"total_likes":1172,"total_photos":250,"accepted_tos":false},"exif":{"make":"SONY","model":"ILCE-6000","exposure_time":"1/160","aperture":"5.6","focal_length":"42.0","iso":1250},"location":{"title":"Rockstart,
        Amsterdam, Netherlands","name":"Rockstart","city":"Amsterdam","country":"Netherlands","position":{"latitude":52.3737281,"longitude":4.88680720000002}},"views":1280851,"downloads":3866}'
  recorded_at: Mon, 05 Nov 2018 21:08:10 GMT
- request:
    method: get
    uri: https://opentdb.com/api.php?amount=10&encode=base64
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response_code":0,"results":[{"category":"RW50ZXJ0YWlubWVudDogTXVzaWM=","type":"bXVsdGlwbGU=","difficulty":"bWVkaXVt","question":"SXJpc2ggbXVzaWNpYW4gSG96aWVyIHJlbGVhc2VkIGEgbXVzaWMgdHJhY2sgaW4gMjAxMyB0aXRsZWQsICJUYWtlIE1lIHRvIF9fX19fXyI=","correct_answer":"Q2h1cmNo","incorrect_answers":["TW9zcXVl","U3luYWdvZ3Vl","VGVtcGxl"]},{"category":"RW50ZXJ0YWlubWVudDogVGVsZXZpc2lvbg==","type":"bXVsdGlwbGU=","difficulty":"bWVkaXVt","question":"V2hpY2ggb2YgdGhlIGZvbGxvd2luZyBBdXRvYm90IG5hbWVzIGluIE1pY2hhZWwgQmF5J3MgbW92aWVzIHdhcyBOT1QgYSBuYW1lIGZvciBhIFRyYW5zZm9ybWVyIGluIHRoZSBvcmlnaW5hbCAxOTgwJ3MgY2FydG9vbj8=","correct_answer":"TXVkZmxhcA==","incorrect_answers":["U2tpZHM=","U2lkZXN3aXBl","UmF0Y2hldA=="]},{"category":"QW5pbWFscw==","type":"bXVsdGlwbGU=","difficulty":"bWVkaXVt","question":"[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Music
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"id":"ERSauUNQ3ag","created_at":"2014-04-21T20:47:58-04:00","updated_a[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Television
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: UTF-8
      string: '{"id":"u1YdMBy_slE","created_at":"2018-04-25T01:15:20-04:00","upda[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Animals
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: UTF-8
      string: '{"id":"DPXytK8Z59Y","created_at":"2017-02-06T02:14:27-05:00","updated_at":"2018-08-28T[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Film
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: UTF-8
      string: '{"id":"PLfpXxZ9r9A","created_at":"2018-01-27T15:46:41-05:00","updated_at[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Science%20%26%20Nature
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: UTF-8
      string: '{"id":"XSSibD1bt80","created_at":"2014-07-02T10:20:13-04:00","updated_a[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Cartoon%20%26%20Animations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '41'
    body:
      encoding: UTF-8
      string: '{"id":"P9-0uI3tHBA","created_at":"2018-08-24T00:09[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Japanese%20Anime%20%26%20Manga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '40'
    body:
      encoding: UTF-8
      string: '{"id":"wH5oonip-eg","created_at":"2017-03-30T0[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=Entertainment:%20Video%20Games
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: UTF-8
      string: '{"id":"g_3A35DRnAo","created_at":"2018-03-12T21:28:11-04:00","u[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=General%20Knowledge
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '38'
    body:
      encoding: UTF-8
      string: '{"id":"gdBXlLO53N4","created_at":"2017-04-27T10:07:20-04:00","updated_at":[...]
