---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=<key>&query=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: UTF-8
      string: '{"id":"xbI-xEgzEl4","created_at":"2017-08-31T13:15:44-04:00","updated_at":"2018-08-28T20:21:37-04:00","width":5792,"height":8688,"color":"#141413","description":"shallow
        focus photography of short-coated black dog sitting","urls":{"raw":"https://images.unsplash.com/photo-1504199703274-7a33d49c9a3b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=7f4c2ba74a9e07dc4e5d00ed49bd996d","full":"https://images.unsplash.com/photo-1504199703274-7a33d49c9a3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=3bc383ea0aa359ea8631d2e188f5eb0f","regular":"https://images.unsplash.com/photo-1504199703274-7a33d49c9a3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=ed6ac61d95c4723893b1ab554ee3d1b9","small":"https://images.unsplash.com/photo-1504199703274-7a33d49c9a3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=e1567ee1c8b906d3c0af767c77d382ce","thumb":"https://images.unsplash.com/photo-1504199703274-7a33d49c9a3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjQxMjM5fQ&s=08861275a47cf23635ae100d2d43802c"},"links":{"self":"https://api.unsplash.com/photos/xbI-xEgzEl4","html":"https://unsplash.com/photos/xbI-xEgzEl4","download":"https://unsplash.com/photos/xbI-xEgzEl4/download","download_location":"https://api.unsplash.com/photos/xbI-xEgzEl4/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":25,"liked_by_user":false,"current_user_collections":[],"slug":"patrick-hendry-telluride-dog-run","user":{"id":"Lml8hRY1kps","updated_at":"2018-11-05T10:02:18-05:00","username":"worldsbetweenlines","name":"Patrick
        Hendry","first_name":"Patrick","last_name":"Hendry","twitter_username":"LoveTheBicycle","portfolio_url":"http://www.patrickkylehendry.com","bio":"Nothing
        to prove, everything to learn. Available for hire. worldsbetweenlines@gmail.com
        \u2013 Instagram(s): shot.with.canon & worldsbetweenlines","location":"Utah","links":{"self":"https://api.unsplash.com/users/worldsbetweenlines","html":"https://unsplash.com/@worldsbetweenlines","photos":"https://api.unsplash.com/users/worldsbetweenlines/photos","likes":"https://api.unsplash.com/users/worldsbetweenlines/likes","portfolio":"https://api.unsplash.com/users/worldsbetweenlines/portfolio","following":"https://api.unsplash.com/users/worldsbetweenlines/following","followers":"https://api.unsplash.com/users/worldsbetweenlines/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1540316546659-dab2a0beb976?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=bed9460a40f45ba35297f13f341797cd","medium":"https://images.unsplash.com/profile-1540316546659-dab2a0beb976?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=1cbe26d7253189f0d8f31c018bd860a8","large":"https://images.unsplash.com/profile-1540316546659-dab2a0beb976?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=ed53a61d4be00fdb4f112e874c07d56c"},"instagram_username":"shot.with.canon","total_collections":19,"total_likes":2179,"total_photos":811,"accepted_tos":false},"exif":{"make":"Canon","model":"Canon
        EOS 5DS","exposure_time":"1/250","aperture":"4.5","focal_length":"100.0","iso":100},"views":260661,"downloads":785}'
  recorded_at: Mon, 05 Nov 2018 21:08:11 GMT
recorded_with: VCR 4.0.0
